::-webkit-scrollbar {
  display: none;
}

.apple-media-file-app * {
  box-sizing: border-box;
}

.apple-media-file-app {
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  letter-spacing: 0.1px;
  background: #f6f5f6;
  box-shadow: 0px 0px 5px #c7c6c6;
  border: 1px solid #cbcbcb;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 100ms ease-in-out;
  transform: scale(1);
}

.amf-transition {
  transform: scale(0.002);
}

.full-screen-transition {
  width: 1170.3px !important;
}

.amf-header {
  background: linear-gradient(#e5e5e5, #d3d3d3);
  border-bottom: 1px solid #aaaaaa;
  border-radius: 5px 5px 0 0;
  width: -webkit-fill-available;
  min-height: 20.3px;
  position: relative;
}

.image-app .amf-header {
  height: 54px;
}

.image-preview-app .amf-header {
  background: #f6f5f6;
  border-bottom: none;
  height: 35px;
}

.image-preview-app .amf-header.share-pop-up {
  box-shadow: 0px 0px 5px #c7c6c6;
  border-radius: 5px;
  position: absolute;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  letter-spacing: 0.1px;
  margin: auto;
}

.image-preview-app .amf-header.share-pop-up.on-body {
  width: 300px; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-preview-app .amf-header.share-pop-up.in-header {
  max-width: 77%;
  bottom: 0;
  right: 0; 
}

.amf-header-top-bar {
  width: 98.598%;
  height: 14px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

.image-app .amf-header-top-bar {
  top: 3px;
  bottom: auto;
}

.image-preview-app .amf-header-top-bar {
  height: 20px;
}

.image-preview-app .share-pop-up.in-header .amf-header-top-bar {
  top: 0;
  bottom: 0;
  display: flex;
}

.amf-controls-container {
  width: 61.047px;
  height: fit-content;
  position: absolute;
  margin: auto;
  display: inline-flex;
  left: 0;
  top: 0;
  bottom: 0;
}

.image-preview-app .amf-controls-container {
  width: fit-content;
  left: 8px;
}

button.amf-controls {
  position: relative;
  margin: auto;
  border-radius: 100%;
  width: 12.125px;
  height: 12.125px;
  border: 1px solid;
}

button.amf-controls:before {
  background-size: 6.58px;
  opacity: 0;
}

.amf-controls-container:hover button.amf-controls:before {
  opacity: 0.6;
}
 
.header-content-info {
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: absolute;
  overflow: hidden;
}

.header-content-info p {
  white-space: nowrap;
  margin: auto;
  width: fit-content;
}

.header-content-info p.text-overflow {
  margin-right: 50%;
  animation: scroll-left 13s linear infinite;
}

.image-preview-app .share-pop-up .header-content-info p.text-overflow {
  margin-right: 0;
  animation: unset;
}

@keyframes scroll-left {
  0%, 31%, 100% { 
    transform: translateX(0%); 
    opacity: 1; 
  }
 
  65.5% {
    transform: translateX(-100%);  
    opacity: 1; 
  }
  
  65.6% {
    transform: translateX(-100%);  
    opacity: 0; 
  }
  
  65.6000001% {
    transform: translateX(50%);
    opacity: 0;   
  }
  
  65.6000002% {
    transform: translateX(50%);
    opacity: 1;   
  }
}

.amf-title-entire-container {
  max-width: 62%;
  width: fit-content;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-preview-app .share-pop-up.in-header .amf-title-entire-container {
  position: relative;
  margin-right: 5%;
}

.amf-title-entire-container.icons:before {
  min-width: 9px;
  height: 12.8px;
  position: relative;
  background-size: cover;
  box-shadow: 0px 0px 1px #7e7e7e;
  border-radius: 0px 6px 0px 0px;
  right: auto;
}

.amf-title-text-container {
  width: fit-content;
  overflow: hidden;
  position: relative;
  margin: auto;
  display: inline-flex;
}

.image-app .amf-title-text-container {
  margin: auto 8px;
}

.image-preview-app .share-pop-up.in-header .amf-title-text-container {
  margin: auto;
}

p.amf-title {
  color: #474747;
}

.image-preview-app p.amf-title {
  color: #747374;
}

.amf-title-entire-container.icons:after {
  content: '';
  position: relative;
  min-width: 9px;
  height: 6px;
  background-size: 8px;
  background-repeat: no-repeat;
  margin: auto;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
 
.amf-content-credits-container {
  max-width: 27%;
  text-align: right;
  color: #aaaaaa;
  right: 0;
  display: inline-flex;
}

.amf-grey-function-buttons {
  width: fit-content;
  height: 23px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: linear-gradient(#fcfcfc, #f1f1f1);
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 2px 8px;
  color: #000;
}

.image-preview-app .amf-grey-function-buttons {
  height: 20px;
  float: right;
  margin-right: 4px;
}

.image-preview-app .share-pop-up.in-header .amf-grey-function-buttons {
  margin-left: 0px;
}

.zoom-and-share-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 5.484px;
  bottom: 5.281px;
  display: inline-flex;
}

.zoom-buttons-container {
  display: inline-flex;
}

button.zoom-in,
button.zoom-out {
  width: 37px;
}

.zoom-buttons-container button.zoom-in {
  left: -1px;
}

button.zoom-in:before,
button.zoom-out:before {
  background-size: 13.5px;
}

.share-container {
  position: relative;
  margin-left: 4px;
}

button.amf-share {
  width: 36px;
}

button.amf-share:before {
  background-size: 11.5px 15.6px;
}

.dropdown-menu {
  width: fit-content;
  height: fit-content;
  background: #fff;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  left: 0; 
  right: 0;
  top: auto;
  padding: 8px;
  box-shadow: 0px 0px 6px #adadad;
  z-index: 9999;
  transform: translate(0px, -45%) scale(0.002);
  transition: all 100ms ease-in-out;
}

.image-app .dropdown-menu {
  margin-top: 6px;
}

.dropdown-menu.show {
  transform: scale(1);
}

.dropdown-menu:before {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid white;
  z-index: 1;
  display: block;
  position: absolute;
  width: fit-content;
  margin: auto;
  left: 0;
  right: 0;
  top: -5px;
  width: fit-content;
}

.dropdown-menu button {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 5.2px;
  display: block;
  position: relative;
}

.dropdown-menu button:first-child {
   margin-top: 0;
}

.dropdown-menu button.tumblr:before {
   background-size: 8px auto;
}

.amf-content-container {
  min-height: 299.65px;
  min-width: 265px;
  max-height: 632.750px;
  max-width: 1170.3px;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.image-app .amf-content-container {
  height: 632.750px;
  min-width: 549px;
}

.image-preview-app .amf-content-container {
/*   min-width: 537.5px; */
  border: 2.5px solid #f6f5f6;
  border-radius: 4px;
  overflow: unset;
}

.image-preview-app.gif-app .amf-content-container {
  min-height: unset;
  overflow: scroll;
}

.amf-content {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: block;
  margin: auto;
}

.amf-content.image {
  width: auto;
  user-select: none;
}

.image-preview-app.gif-app .amf-content.image { 
  height: auto;
  width: -webkit-fill-available;
}

.amf-content.zoom-x1 {
  width: 200%;
  height: auto;
  cursor: move;
}

.amf-content.zoom-x2 {
  width: 400%;
  height: auto;
  cursor: move;
}

.image-app.full-screen-transition .amf-content {
  width: -webkit-fill-available;
  height: auto;
}

.image-preview-app .amf-content {
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
