button {
  background: none;
  user-select: none;
  touch-action: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button:active {
  opacity: .4;
}

button.icons:before {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}



/* SOCIAL ICONS */
button.twitter {
  background: #00C3F3;
}

button.twitter:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Twitter%20-%20White%201.png);
}

button.instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

button.instagram:before {
   background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Instagram.png);
}

button.email {
  background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
}

button.email:before {
   background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Email%20-%20White%201.png);
}

button.tumblr {
  background-color: #35465c;
}

button.tumblr:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Tumblr%20White%20-%201.png);
}


/* INPUT BAR */
button.message-send {
  background-color: #0070eb;
  border-radius: 50%;
}

button.message-send:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Send%20Icon/Send%20Arrow%20-%20White%201.png);
}



/* APPLE MEDIA FILES CONTROLS */
