button {
  background: none;
  user-select: none;
  touch-action: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button:active {
  opacity: .4;
}

.icons:before {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}



/* SOCIAL ICONS */
button.twitter {
  background: #00C3F3;
}

button.twitter:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Twitter%20-%20White%201.png);
}

button.instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

button.instagram:before {
   background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Instagram.png);
}

button.email {
  background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
}

button.email:before {
   background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Email%20-%20White%201.png);
}

button.tumblr {
  background-color: #35465c;
}

button.tumblr:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Tumblr%20White%20-%201.png);
}


/* INPUT BAR */
button.message-send {
  background-color: #0070eb;
  border-radius: 50%;
}

button.message-send:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Send%20Icon/Send%20Arrow%20-%20White%201.png);
}



/* APPLE MEDIA FILES CONTROLS */
button.amf-controls.close {
  background: #ff5c5c;
  border-color: #e33e41;
}

button.amf-controls.close:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Close%20Icon/Close%20-%20Black%201.png);
}

button.amf-controls.close-grey {
  background: #acabac;
  border: none;
}

button.amf-controls.close-grey:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Close%20Icon/Close%20-%20Grey%203.png);
  opacity: 1;
}

button.amf-controls.minimize {
  background: #ffbd4c;
  border-color: #e09e3e;
}

button.amf-controls.minimize:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Minimize%20Icon/Minimize%20-%20Black%201.png);
  background-size: 8.5px;
}

button.amf-controls.full-screen {
  background: #00ca56;
  border-color: #14ae46;
}

button.amf-controls.full-screen:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Full%20Screen%20Icon/Full%20Screen%20-%20Black%201.png);
}

/* AMF TITLE ICONS */
.image-app .amf-title-entire-container.icons:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/Image%20App%20Specifics/Image%20App%20Icon%20-%201.png);
}

.image-app .amf-title-entire-container.icons:after {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/Image%20App%20Specifics/Arrow%20-%20Thick%20-%20Grey%20-%202.png);
}


/* ZOOM */
button.zoom-out:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Zoom/Rounded%20Edge/Rounded%20%26%20Thick/Zoom%20Out%20-%20Rounded%20Thick%20-%201.png);
}

button.zoom-in:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Zoom/Rounded%20Edge/Rounded%20%26%20Thick/Zoom%20In%20-%20Rounded%20Thick%20-%201.png);
}



/* SHARE */
button.amf-share:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Share%20Icon/Share%20-%20Old%20-%201.png);
}



/* USER PROFILE ICONS */
button.user-avi {
  background: linear-gradient(#a4aaba, #888b92);
  border-radius: 50%;
}

button.user-avi:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Anonymous%20User/Anonymous%20User%20-%20White%20Only%202.png);
}



/* COMMENTING SYSTEM ICONS */
button.three-dots-horizontal:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Dropdown%20Icon/Dropdown%20Icon%20-%20Grey%201.png);
}

button.right-arrow:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%202.png);
}

button.expand-top:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Top%20-%201.png);
}

button.expand-right:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Right%20-%201.png);
}

button.expand-bottom:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Bottom%20-%201.png);
}

button.expand-left:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Left%20-%201.png);
}

button.reply.right-arrow:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Reply/Reply%20-%20Grey%20-%20Left%20to%20Right%201.png);
}

button.reply.left-arrow:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Reply/Reply%20-%20Grey%201.png);
}

button.like:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Like/Like%20-%20Grey%201.png);
}

button.follow:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Follow/Follow%20-%20Grey%20-%201.png);
}

button.un-follow:before {
  background-image: url();
}

button.mute:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Mute/Mute%20-%20Grey%20-%201.png);
}

button.delete:before {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Delete/Delete%20-%20Grey%20-%202.png);
}
