button {
  background: none;
  user-select: none;
  touch-action: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button:active {
  opacity: .4;
}

.icons:before {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.icons.relative:before {
/*   width: inherit;
  height: inherit; */
  display: inline-block;
  position: relative;
}




/* SOCIAL MEDIA LOGO ICONS */
.twitter {
  background: #00C3F3;
}

.twitter.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Twitter%20-%20White%201.png");
}

.twitter-black.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Logo/Twitter%20-%20Black%20-%201.png");
}




/* INSTAGRAM */
.instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.instagram.icons:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Instagram.png");
}

.instagram-black.icons:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Instagram%20Icons/Logo/Instagram%20-%20Icon%20-%20Black%20-%201.png");
}




/* EMAIL */
.email.icons {
  background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
}

.email.icons:before {
   background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Email%20-%20White%201.png");
}




/* TUMBLR */
.tumblr {
  background-color: #35465c;
}

.tumblr.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Tumblr%20Icons/Logo/Tumblr%20-%20White%20-%201.png");
}

.tumblr-black.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Tumblr%20Icons/Logo/Tumblr%20-%20Black%20-%201.png");
}





/* USER AVI ICONS */
.avi.icons {
  background: linear-gradient(#a4aaba, #888b92);
  border-radius: 50%;
}

.avi.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Anonymous%20User/Anonymous%20User%20-%20White%20Only%202.png");
}




/* INPUT BAR ICONS */
.upload-media.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Camera%20Icons/Camera%20-%20White%202.png");
}

.app-store.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/App%20Store%20Icons/App%20Store%20Icon%20-%20White%202.png");
  background-size: 12.6px;
}

.expand-right.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%202.png");
}

.send-message.icons {
  background-color: #0070eb;
  border-radius: 50%;
}

.send-message.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Send%20Icon/Send%20Arrow%20-%20White%201.png");
}

.gifs.icons {
  background-color: #fa0244;
}




/* EXPAND ICONS */
.expand-left-blue.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20Left%20-%20Blue%201.png");
}

.expand-right.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Right%20-%201.png");
}

.expand-embed-window.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Expand%20Buttons/Expand%20-%20Content%20Window%206.png");
}




/* SEARCH INPUT ICON */
.search-icon {
  background-image: url(https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Search/Search%20-%20Grey%20-%202.png);
}




/* APPLE MEDIA FILE CONTROLS ICONS */
.amf-controls.close.icons {
  background: #ff5c5c;
  border-color: #e33e41;
}

.amf-controls.close.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Close%20Icon/Close%20-%20Black%201.png");
}

.amf-controls.close-grey.icons {
  background: #acabac;
  border: none;
}

.amf-controls.close-grey.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Close%20Icon/Close%20-%20Grey%203.png");
  opacity: 1;
}

.amf-controls.minimize.icons {
  background: #ffbd4c;
  border-color: #e09e3e;
}

.amf-controls.minimize.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Minimize%20Icon/Minimize%20-%20Black%201.png");
  background-size: 8.5px;
}

.amf-controls.full-screen.icons {
  background: #00ca56;
  border-color: #14ae46;
}

.amf-controls.full-screen.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Full%20Screen%20Icon/Full%20Screen%20-%20Black%201.png");
}




/* APPLE MEDIA FILE - ICONS IN TITLE */
.image-app .amf-title-entire-container.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/Image%20App%20Specifics/Image%20App%20Icon%20-%201.png");
}

.image-app .amf-title-entire-container.icons:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/Image%20App%20Specifics/Arrow%20-%20Thick%20-%20Grey%20-%202.png");
}




/* APPLE MEDIA FILE - ZOOM ICONS */
.zoom-out.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Zoom/Rounded%20Edge/Rounded%20%26%20Thick/Zoom%20Out%20-%20Rounded%20Thick%20-%201.png");
}

.zoom-in.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Zoom/Rounded%20Edge/Rounded%20%26%20Thick/Zoom%20In%20-%20Rounded%20Thick%20-%201.png");
}




/* APPLE MEDIA FILE - SHARE ICON */
.amf-share.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Share%20Icon/Share%20-%20Old%20-%201.png");
}




/* SINGLE COMMENT FUNCTIONALITY ICONS */
.text-bubble-functions.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Heart/Heart%20-%20CDG%20-%20Eyes%20-%20Grey%20-%201.png");
}

.text-bubble-functions.liked.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Heart/Heart%20-%20CDG%20-%20Eyes%20-%20Red%20-%201.png") !important;
}

.heart.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Heart/Heart%20-%20CDG%20-%20Eyes%20-%20Grey%20-%201.png");
}

.liked .heart.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Heart/Heart%20-%20CDG%20-%20Red%20-%20Eyes%20-%206.png") !important;
}

.reply-right.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Reply/Reply%20-%20Grey%20-%20Left%20to%20Right%202.png");
}

.reply-left.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Reply/Reply%20-%20Grey%20-%20Right%20to%20Left%202.png");
}

.follow.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Follow/Follow%20-%20Grey%20-%203.png");
}

.un-follow.icons:before {
  background-image: url("");
}

.mute.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Mute/Mute%20-%20Grey%20-%202.png");
}

.delete.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Delete/Trash%20Can%20-%20Grey%202.png");
}




/* TWITTER EMBED PROFILE ICONS */
.twitter-embed .loader {
  background: #00C3F3;
}

.twitter-embed .loader:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Twitter%20-%20White%201.png");
}

.twitter-embed .verified .display-name:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Verified/Verified%20-%20White%20-%201.png");
}

.twitter-embed .private .display-name:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Private/Private%20-%20White%20-%201.png");
}

.twitter-embed .verified.private .display-name:after {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Verified%20%2B%20Private/Verified%20%2B%20Private%20-%202.png");
}

.twitter-embed .dm.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Direct%20Messages.png");
}

.twitter-embed .location.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Location%20-%20Grey%20-%205.png");
}

.twitter-embed .personal-link.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Link/Link%20-%20Thick%20-%20Grey%20-%201.png");
}

.twitter-embed .video.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Video%20Play/Play%20-%20Icon%20-%202.png");
}

.twitter-embed .reply.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Reply/Reply%20-%201.png");
}

.twitter-embed .retweets.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Retweet/Retweet%20-%20Grey%20-%205.png");
}

.twitter-embed .likes-count.icons:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Like/Like%20-%20Grey%20-%202.png");
}

.twitter-embed a.see-more span:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Twitter%20-%20White%201.png");
} 




/* INSTAGRAM EMBED PROFILE ICONS */
.instagram-embed .loader {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.instagram-embed .loader:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Instagram.png");
}

.instagram-embed a.see-more span:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Instagram.png");
} 




/* TUMBLR EMBED PROFILE ICONS */
.tumblr-embed .loader {
  background: #35465c;
}

.tumblr-embed .loader:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Tumblr%20White%20-%201.png");
}

.tumblr-embed a.see-more span:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Tumblr%20White%20-%201.png");
} 
