::-webkit-scrollbar {
  display: none;
}

* img {
  object-fit: cover;
}

.ab-mid {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left:  0;
}




/* LOGIN PAGE */
.login-page * {
  box-sizing: border-box;
}

.login-page {
  width: 100%;
  height: -webkit-fill-available;
  position: fixed;
  display: block;
  background: #fff;
  z-index: 9999;
}

.login-container {
  width: 260px;
  height: 70px;
  border: 1px solid black;
  border-radius: 45px;
  padding: 8px;
  display: flex;
}

.login-container .sign-in {
  width: fit-content;
  color: black;
  position: absolute;
  margin: auto;
  font-family: "San Francisco", sans-serif;
  font-size: 30px;
  top: -50px;
  left: 0;
  right: 0;
}

.login-container button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin: auto;
  position: relative;
  display: block;
  background: black;
}

.login-container button:before {
  background-size: 16px;
}




/* USER AVI IN COMMENTS */
button.avi.in-comments {
  width: 26px;
  height: 26px;
  position: absolute;
  margin: auto;
  bottom: 0px;
  overflow: hidden;
}

.stand-alone button.avi.in-comments {
  top: 0px;
  right: 0px;
}

button.avi.in-comments:before {
  background-size: 14.304px auto;
  bottom: -3.48px;
}

button.avi.in-comments img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}




/* IOS PROMPT */
.ios-prompt, .ios-prompt * {
  box-sizing: border-box;
}

.ios-prompt {
  width: -webkit-fill-available;
  height: 0px;
  padding: 0px;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  transition: all 100ms ease-in-out;
}

.ios-prompt.show {
  padding: 6px;
}

.ios-prompt.show.delete,
.ios-prompt.show.sign-out {
  height: 78px;
}

.ios-prompt.show.unfollow,
.ios-prompt.show.cancel-follow-request {
  height: 109.3px;
}


.ios-prompt.show:before {
  content: "";
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, .3);
  top: 0;
  left: 0;
  z-index: -1;
}

.ios-prompt-parent-transform {
  transform: translate(0);
}

.ios-prompt * {
  width: -webkit-fill-available;
  height: 31px;
  padding: 8px 0px;
  border-radius: 4px;
  background: rgba(255, 255, 255, .95);
  margin: auto;
  display: block;
}

.user-to-unfollow {
  font-size: 10.5px;
  letter-spacing: .5px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  border-bottom: 0.3px solid #cecece;
  color: #b7b6b6;
}

button.ios-confirm-action {
  color: red;
}

.unfollow button.ios-confirm-action,
.cancel-follow-request button.ios-confirm-action {
  border-radius: 0px 0px 4px 4px;
}

button.ios-cancel {
  margin-top: 4px;
  font-weight: 600;
  color: #54a1ff;
}

button.ios-cancel:before {
  content: "Cancel";
}
