/* IOS PROMPT */
.ios-prompt-parent-transform {
  transform: translate(0);
}

.ios-prompt-container,
.ios-prompt-container * {
  box-sizing: border-box;
  user-select: none;
  transition: all 150ms ease-in-out;
}

.ios-prompt-container {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  background: rgba(0, 0, 0, .3);
  padding: 8px;
  font-family: "San Francisco", sans-serif;
}

.ios-prompt-container.translucent {
  background-color: unset;
}

.ios-prompt-container.translucent:before {
  content: "";
  width: 128%;
  height: 128%;
  position: absolute;
  margin: auto;
  top: -14%;
  right: -14%;
  bottom: -14%;
  left: -14%;
  background-color: #e3e3e3;
  background-image: url("https://acolorblueserver.com/commenting/logo-background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(20px) brightness(1);
  transition: inherit;
}

.ios-prompt-container.translucent.confirmed:before {
  filter: blur(20px) brightness(0.05);
}

.ios-prompt {
  max-width: 255px;
  height: 0px;
  margin: auto;
  text-align: center;
}




/* SIGN OUT */
.ios-prompt.sign-out {
  width: 190px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.ios-prompt.sign-out .confirm-action-container {
  width: inherit;
  height: 53px;
  position: relative;
  margin-top: 29px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 0px;
  border-radius: 30px;
  overflow: hidden;
  background: rgba(255, 255, 255, .5);
  color: black;
}

.ios-prompt.sign-out .confirm-action {
  width: 47px;
  height: 47px;
  display: block;
  position: absolute;
  margin: auto auto auto 2.5px;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 50%;
  background: white;
}

.ios-prompt.sign-out .confirm-action:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/App%20Design%20References/iOS%20Prompt/Icons/Shut%20Down/Shut%20Down%20-%20Thick%20-%205.png");
  background-size: 21px;
}

.ios-prompt.sign-out .action-to-do {
  width: fit-content;
  height: fit-content;
  margin: auto 30.6px auto auto;
  background: linear-gradient(to right, transparent 5%, #ffffff 35%, #ffffff 65%, transparent 95%) black no-repeat;
  font-size: 13.33px;
  font-weight: bold;
  white-space: nowrap;
  color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sign-out-text-spotlight 2s infinite ease-in-out;
}

@keyframes sign-out-text-spotlight {
  0% {
    background-position: -80px center;
  }
  100% {
    background-position: 80px center;
  }
}

.ios-prompt.sign-out .cancel-action {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  margin: auto auto 34px auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, .55);
  font-size: 10.33px;
  color: white;
}

.ios-prompt.sign-out .cancel-action:before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/App%20Design%20References/iOS%20Prompt/Icons/Close/Close%20-%20White%20-%202.png");
  background-size: 17px;
}

.ios-prompt.sign-out .cancel-action:after {
  content: "Cancel";
  display: block;
  margin-top: 54px;
}


/* SIGN OUT - LAUNCH || CONFIRMED  */
.launch .ios-prompt.sign-out .confirm-action-container {
  width: 95px;
}

.confirmed .ios-prompt.sign-out .confirm-action-container {
  width: 52px;
  margin-right: 0px;
  margin-left: auto;
  background: unset;
}

.launch .ios-prompt.sign-out .action-to-do {
  margin: auto -10px auto auto;
}

.launch .ios-prompt.sign-out .action-to-do,
.confirmed .ios-prompt.sign-out .action-to-do,
.confirmed .ios-prompt.sign-out .cancel-action {
  opacity: 0;
}




/* IOS PROMPT MIDDLE */
.ios-prompt.middle {
  width: 225px;
  height: fit-content;
  display: inline-table;
  border-radius: 8px;
  background: #cecece;
}

.ios-prompt.middle > * {
  background: rgba(255, 255, 255, .95);
}

.ios-prompt.middle .notifier {
  width: inherit;
  height: fit-content;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid #cecece;
  padding: 16px 20px;
  color: #000;
}

.ios-prompt.middle .notifier .title {
  margin: 0px auto 6px auto;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: -0.3px;
  transform: scale(1.02, 0.94);
}

.ios-prompt.middle .notifier .description {
  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: 13.28px;
}

.ios-prompt.middle button {
  width: 112px;
  height: 36px;
  font-size: 14.33px;
}

.ios-prompt.middle .confirm-action {
  float: left;
  border-radius: 0px 0px 0px 8px;
  color: #086def;
}

.ios-prompt.middle .cancel-action {
  float: right;
  border-radius: 0px 0px 8px 0px;
  font-weight: 600;
  color: #ff0000;
}




/* IOS PROMPT BOTTOM */
.ios-prompt.bottom {
  width: 250px;
  margin-bottom: 0;
}

.ios-prompt.bottom > * {
  width: inherit;
  display: block;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
}

.ios-prompt.bottom button {
  font-size: 16.9px;
}

.ios-prompt.bottom .user-to-unfollow,
.ios-prompt.bottom .confirm-action {
  background: rgba(241, 241, 241, 0.95);
}

.ios-prompt.bottom .user-to-unfollow {
  height: 38px;
  border-bottom: 1px solid #9aa1ab;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  font-size: 11.4px;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 21px;
  white-space: nowrap; 
  color: #929398;
}

.ios-prompt.bottom .confirm-action {
  min-height: 46px;
  color: #ff0000;
}

.ios-prompt.bottom .cancel-action {
  height: 48px;
  margin-top: 7px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .95);
  font-weight: 600;
  color: #2c83ec;
}




/* UNFOLLOW */
.ios-prompt.unfollow {
  height: 139px;
}

.ios-prompt.unfollow .confirm-action {
  border-radius: 0px 0px 10px 10px;
  height: 46px;
}




/* UNFOLLOW AND CANCEL REQUEST */
.ios-prompt.unfollow.and-cancel-request {
  height: 149px;
}

.ios-prompt.unfollow.and-cancel-request .confirm-action {
  height: 56px;
}




/* DELETE */
.ios-prompt.delete {
  height: 101px;
}

.ios-prompt.delete .confirm-action {
  border-radius: 10px;
}
