/* UNIVERSAL STYLES ON ALL SOCIAL MEDIA EMBED */
.social-media-embed * {
  box-sizing: border-box;
  user-select: none;
}

.social-media-embed {
  width: 267px;
  display: flex;
  flex-direction: column;
  font-family: "San Francisco", sans-serif;
  overflow: hidden;
}

.social-media-embed :after {
  display: inline-block;
}

.stand-alone .social-media-embed {
  height: 520px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.iphone .social-media-embed {
  height: 0;
  position: relative;
}

.iphone .show-social-media-embed .social-media-embed {
  height: 100%;
}





.social-media-embed .loader {
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  overflow: scroll;
  z-index: 2;
}

.social-media-embed .profile-container {
  width: -webkit-fill-available;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.social-media-embed a {
  text-decoration: none;
}

.social-media-embed .header-container {
  width: -webkit-fill-available;
}

.social-media-embed .header-image {
  width: 100%;
  background-size: cover;
}

.social-media-embed .header-content {
  width: -webkit-fill-available;
  position: relative;
}

span.user-handle:before {
  content: "@";
}

.social-media-embed .avi {
  border-radius: 50%;
  position: relative;
}

.social-media-embed .avi img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.social-media-embed button.avi:active,
.social-media-embed button.avi img:hover {
  opacity: 0.9;
}

.social-media-embed .header-functions {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  margin-right: 0;
  display: flex;
  float: right;
}

.social-media-embed button.dm {
  position: relative;
}




/* SEE MORE */
.social-media-embed .see-more-container {
  width: -webkit-fill-available;
  height: 40px;
  position: relative;
}

.social-media-embed .see-more {
  width: fit-content;
  height: fit-content;
  color: white;
  font-size: 11.6px;
  font-weight: normal;
  line-height: 16.57px;
  display: block;
  position: absolute;
  margin: auto;
}

.social-media-embed .see-more.icons-a::after {
  width: 12px;
  height: 12px;
  margin: 0px 0px -1px 5px;
  background-size: contain;
}




/* ALL TWITTER EMBED */
.twitter-embed .loader:before {
  background-size: 270px;
  transform: scale(0.15);
}

.twitter-embed .loader.animation:before {
  opacity: 1;
  animation: twitter-embed-loader 3.5s ease-in-out infinite;
} 

@keyframes twitter-embed-loader {
  0%, 50% {
    opacity: 1; 
    transform: scale(0.15);
  }

  70% {
    opacity: 1;
    transform: scale(0.13);
  }

  100% {
    opacity: 1;
    transform: scale(25);
  }
} 

.twitter-embed .profile-container {
  background: #1b2836;
}

.twitter-embed .see-more-container {
  background-color: #00C3F3;
} 




/* ALL INSTAGRAM EMBED */
.instagram-embed .see-more-container {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
} 




/* ALL TUMBLR EMBED */
.tumblr-embed .see-more-container {
  background: #35465c;
} 
