::-webkit-scrollbar {
  display: none;
}

* img {
  object-fit: cover;
}

.ab-mid {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left:  0;
}

.social-media-embed * {
  transition: unset;
  box-sizing: border-box;
}

.social-media-embed {
  width: 267px;
  height: 520px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.show-social-media-embed .social-media-embed {
  height: 100%;
}

.social-media-embed .loader {
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  overflow: scroll;
  z-index: 2;
}




/* LOGO PAGE LOADERS */
.twitter-embed .loader:before {
  background-size: 270px;
  transform: scale(0.15);
}

.twitter-embed .loader.animation:before {
  opacity: 1;
  animation: twitter-embed-loader 3.5s ease-in-out infinite;
} 

@keyframes twitter-embed-loader {
  0%, 50% {
    opacity: 1; 
    transform: scale(0.15);
  }

  70% {
    opacity: 1;
    transform: scale(0.13);
  }

  100% {
    opacity: 1;
    transform: scale(25);
  }
} 


/* .instagram-embed .loader:before {
  background-size: 40px;
}

.instagram-embed .loader.animation:after {
  content: '';
  width: 60px;
  height: 2px;
  background: rgba(255,255,255,0.5);
  border-radius: 4px;
  position: absolute;
  margin: auto;
  top: 60px;
  bottom: 0;
  left: 103px;
  animation: instagram-embed-loader 3s linear;
} 

@keyframes instagram-embed-loader {
  0% {
    width: 0;
  }
  100% {
    width: 60px;
  }
}  */


.tumblr-embed .loader:before {
  background-size: 270px;
  transform: scale(0.15);
}

.tumblr-embed .loader.animation:before {
  opacity: 1;
  animation: tumblr-embed-loader 3.5s ease-in-out infinite;
} 

@keyframes tumblr-embed-loader {
  0%, 50% {
    opacity: 1; 
    transform: scale(0.15);
  }

  70% {
    opacity: 1;
    transform: scale(0.13);
  }

  100% {
    opacity: 1;
    transform: scale(25);
  }
} 




/* BEGINNNING OF PROFILE CONTAINERS */
.social-media-embed .profile-container {
  width: -webkit-fill-available;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.twitter-embed .profile-container {
  background: #1b2836;
}


/* HEADER CONTAINER */
.social-media-embed .header-container {
  width: -webkit-fill-available;
}

.twitter-embed .header-container {
  height: 247px;
}


/* HEADER IMAGE */
.social-media-embed .header-image {
  width: 100%;
  background-size: cover;
}

.twitter-embed .header-image {
  height: 90px;
  background-color: rgb(208, 208, 208);
  background-image: url("https://acolorblueserver.com/commenting/logo-background.jpg");
}


/* HEADER CONTENT */
.social-media-embed .header-content {
  width: -webkit-fill-available;
  position: relative;
}

.twitter-embed .header-content {
  height: 158px;
  padding: 0px 10px;
}


/* ALL AVI'S */
.social-media-embed button.avi {
  border-radius: 50%;
  position: relative;
}

.social-media-embed button.avi img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.social-media-embed button.avi:active,
.social-media-embed button.avi img:hover {
  opacity: 0.9;
}

.social-media-embed button.avi img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}


/* HEADER CONTAINER AVI */
.twitter-embed .header-content button.avi {
  width: 64px;
  height: 64px;
  margin: -26px 0px 0px;
}

.twitter-embed .header-content button.avi img {
  border: 2px solid #1b2836;
  background-color: #d8d8d8;
}




/* RIGHT FUNCTIONS BUTTONS */
.social-media-embed .right-function-buttons {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  margin-right: 0;
  display: flex;
  float: right;
}

.twitter-embed .right-function-buttons {
  margin-top: 8px;
}


/* DM BUTTON */
.social-media-embed button.dm {
  position: relative;
}

.twitter-embed button.dm {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #1b95e0;
}

.twitter-embed button.dm:before {
  background-size: 12px;
}


/* RELATION TO USER BUTTON */
