@font-face {
    font-family: 'ahamonomonospaced';
    src: url('../Ahamono/ahamono-monospaced-webfont.eot');
    src: url('../Ahamono/ahamono-monospaced-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('../Ahamono/ahamono-monospaced-webfont.woff2') format('woff2'),
         url('../Ahamono/ahamono-monospaced-webfont.woff') format('woff'),
         url('../Ahamono/ahamono-monospaced-webfont.ttf') format('truetype'),
         url('../Ahamono/ahamono-monospaced-webfont.svg#ahamonomonospaced') format('svg');
    font-weight: normal;
    font-style: normal;
}






body {
  background: #fff;
  padding: 0px 0;
  font-family: 'ahamonomonospaced', "Courier New";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}




       /* WIND PAPER */

.wind-paper {
  position: absolute;
  top: 0;
/*   WAS 45.25px, 35.25px */
  left: 35.25px;
  z-index: 2;
}



.wind-paper div {
  height: 19.25px;
  width: 37.5px;
  transform-origin: 100% 0;
  transform-style: preserve-3d;
  position: absolute;
  top: calc(100% - 1px);
  background: #E8E8E8;
  transform: rotateX(-5deg);
  animation: flip 3s ease-in-out infinite;
}



.wind-paper:after {
  content: "";
  transform: translateZ(-1000px);
  display: block;
  background: rgba(72, 128, 158, 0.8);
  position: absolute;
  top: 0;
  z-index: -1;
  animation: flip-shadow 3s ease-in-out infinite;
}



@keyframes flip {
  0% {
    transform: rotateX(-5deg);
  }
  50% {
    transform: rotateX(-8deg) rotateY(-2deg);
  }
  100% {
    transform: rotateX(-5deg);
  }
}



@keyframes flip-shadow {
  0% {
    width: 27.5px;
    left: 5px;
    box-shadow: 0px 0px 10px 5px rgba(72, 128, 158, 0.8);
    opacity: 1;
    height: 152px;
  }
  
  
  
  50% {
    width: 7.5px;
    left: 15px;
    box-shadow: 0px 0px 10px 15px rgba(72, 128, 158, 0.8);
    opacity: 0.3;
    height: 115px;
  }
  
  
  
  100% {
    width: 27.5px;
    left: 5px;
    box-shadow: 0px 0px 10px 5px rgba(72, 128, 158, 0.8);
    opacity: 1;
    height: 152px;
  }
}




       /* NEON SIGN */

.neonbody {
  font-family: 'sans-serif';
  text-align: center;
  /* WAS #141414*/
  background-color: #FFF;
  /* WAS #262626 & #141414*/
  /* background-image: -webkit-linear-gradient(#FFF 0%, #FFF 90%);*/
  /* background-image: linear-gradient(to   , #141414 90%);*/
  background-size: 100% 150%;
  background-repeat: no-repeat;
}

.sign-wrap {
  display: inline-block;
  /*HOW CLOSE IT TOUCHES TOP OF PAGE*/
  margin-top: -4px;
  /*WAS 20PX, 13px*/
  padding: 11px;
  border-radius: 28px;
  background-color: #141414;
  /* WAS b-s: 0px 50px 45px -15px*/ 
  box-shadow: 0px 25px 22.5px -7.5px rgba(0, 0, 0, 0.2), 0px 10px 5px -2.5px rgba(0, 0, 0, 0.2), 0px 2.5px 10px 0px rgba(0, 0, 0, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.3) inset;
  border: 4px solid #1f1f1f;
  border-top: 4px solid black;
  border-bottom: 4px solid #292929;
}

.sign {
  display: inline-block;
  /*Space between text and neon light, was 20px by 60px, 10px by 40px, 8px by 40px*/
  padding: 6px 40px;
  border-radius: 20px;
  /*BLUR AROUND NEON, WAS .75px, 0.55*/
  -webkit-filter: blur(0.40px);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.7), 0px 0px 0px 5px red, 0px 0px 0px 3px red inset, 0px 0px 60px rgba(255, 0, 0, 0.5), 0px 0px 60px rgba(255, 0, 0, 0.5) inset;
}

h1.nowplaying {
  font-family: hello denver;
  /*WAS 3.5VW, 2.5VW*/
  font-size: 2.7vw;
  line-height: 0px;
  font-weight: 800;
  letter-spacing: 2vw;
  /*COLOR WAS Transparent*/
  color: #FFF;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #2b2b2b;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0px 10px 3px rgba(0, 0, 0, 0.2);
}
h1.nowplaying:before {
  content: "Now playing";
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(43, 44, 45, 0.1);
  text-shadow: 0px 0px 60px rgba(255, 51, 51, 0.7);
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: red;
  -webkit-animation: flicker 20s linear infinite;
  -moz-animation: flicker 20s linear infinite;
  animation: flicker 20s linear infinite;
}
h1.nowplaying:after {
  content: "Now Playing";
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: flicker 20s linear infinite;
  -moz-animation: flicker 20s linear infinite;
  animation: flicker 20s linear infinite;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: .4;
  }
  11.25% {
    opacity: .6;
  }
  11.5% {
    opacity: .4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: .9;
  }
  22% {
    opacity: 1;
  }
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: .8;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: .2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: .4;
  }
  11.25% {
    opacity: .6;
  }
  11.5% {
    opacity: .4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: .9;
  }
  22% {
    opacity: 1;
  }
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: .8;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: .2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: .4;
  }
  11.25% {
    opacity: .6;
  }
  11.5% {
    opacity: .4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: .9;
  }
  22% {
    opacity: 1;
  }
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: .8;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: .2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



        /* EMAIL */

.email {
  position: absolute;
  display: block;
  top: 38px;
  right: 15.25px;
}


.email img {
  width: 50px;
  height: 50px;
}



        /* TITLE OF FILM */

h3 {
/*   padding: 1px; */
  margin: 8px;
  text-decoration: none;
  text-align: center;
} 




        /* TV */

.screen-wr {
  position: relative;
  width: 750px;
  margin: 0 auto;
  padding: 0px 0 0 0;
  text-align: center;
}
  
  
  
.screen-wr A {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  text-transform: uppercase;
}
  
  
  

.screen-wr A:hover {
  border-color: #000;
}


.tv {
  width: 100%;
  height: 550px;
/*   WAS 15PX */
  margin: -6px 0 0 0;
  position: relative;
  box-sizing: border-box;
  background: #231f20;
}



.screen-inner {
  width: 720px;
  height: 550px;
  position: relative;
  top: 15px;
  left: 15px;
  box-sizing: border-box;
  background-color: #000;
}

          


.tv-panel {
  height: 40px;
  width: 100%;
  background: #343434;
  position: absolute;
  bottom: 0;
  left: 0;
}
  
  

.tv-panel__indicators {
  position: absolute;
  left: 6px;
  bottom: 5px;
  font-size: 0;
}
  
  
  
.tv-panel__indicators SPAN {
  background: #FA4C4C;
  width: 3px;
  height: 3px;
  margin: 0 4px 0 0;
  border-radius: 100%;
  display: inline-block;
  -webkit-transition: background 150ms ease;
  transition: background 150ms ease;
}
  
  
  
.tv._off .tv-panel__indicators SPAN {
  background: #8f8875;
}



.tv-panel__buttons {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -32px;
  bottom: 16px;
  font-size: 0;
}
  
  
  
.tv-panel__buttons SPAN {
  background: #222222;
  width: 14px;
  height: 7px;
  margin: 0 3px 0 0;
  display: inline-block;
}




        /* IPHONE */

.bodyiphone {
  width: 100%;
  font-family:"Courier New";
  height: 780px;
  margin: -100px -100px -0px -0px;
  padding: 0;
  perspective: 1000px;
  -webkit-perspective: 950px;
    overflow: hidden;
}



.iphone6 {
  width: 100%;
/*   WAS 100vh */
  /*min-height: 100vh;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateZ(-300px);
}



.iphonebodyFrame {
  width: 423px;
  height: 877px;
  padding: 6px;
  background: #d9dbdc;
  border-radius: 56px;

  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}



.iphonetopBar {
  width: 434px;
  height: 14px;
  background: #bfbfc0;
  position: relative;
  margin: auto;
  top: 100px;
  left: 50%;
  margin: -28px 0 0 -217px;
  z-index: 2;
}



.iphonebottomBar {
  width: 434px;
  height: 14px;
  background: #bfbfc0;
  position: relative;
  margin: auto;
  top: 810px;
  left: 50%;
  margin-left: -217px;
  z-index: 2;
}



.iphoneBodyFunctions {
  width: 423px;
  height: 877px;
  background: white;
  border-radius: 50px;
  position: relative;
  z-index: 3;

  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
}



.iphonesleepBtn {
  width: 4px;
  height: 66px;
  background: #d9dbdc;
  position: relative;
  top: 190px;
  right: -429px;
  border-radius: 0 2px 2px 0;
}



.iphonevolumeBtn {
  left: -10px;
  top: 90px;
  z-index: 0;
  height: 66px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: #d9dbdc;
  position: relative;
}



.iphonevolumeBtn:before {
  left: 2px;
  top: -78px;
  height: 40px;
  width: 2px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block;
  position: relative;
}



.iphonevolumeBtn:after {
  left: 0px;
  top: 82px;
  height: 66px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block;
  position: relative;
}



.iphonescreen {
  width: 375px;
/*   WAS 650 */
  height: 660px;
  top: -60px;
  position: relative;
  border: 3px solid black;
  border-radius: 5px;
  margin: auto;
  
/*   overflow: scroll; */
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/images%3Aacolorblue/Screen%20copy.png");
  background-size: cover;
  background-postiion: top center;
}



.iphonescreenContent {
  width: 100%;
/*   WAS 546, 526 */
  height: 546px;
  position: relative;
  top: 70px;
  bottom: 10px;
  overflow: hidden;
}



.iphone6 iframe {
  width: 100%;
/*   WAS 848px */
  height: 780px !important;
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}




.iphonehomeBtn {
  border-radius: 100%;
  width: 68px;
  height: 68px;
  position: relative;
  left: 50%;
  margin-left: -34px;
/*   WAS 35PX */
  bottom: 40px;

  background: #303233;
  background: -moz-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #303233), color-stop(50%, #b5b7b9), color-stop(69%, #f0f2f2), color-stop(100%, #303233));
  background: -webkit-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: -o-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: -ms-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303233', endColorstr='#303233', GradientType=1 );
}



.iphonehomeBtnAfter {
  width: 60px;
  height: 60px;
  top: 4px;
  left: 4px;
  position: relative;
  background: white;
  border-radius: 100%;
}



.iphonesensor {
  width: 12px;
  height: 12px;
  top: -45px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  margin-left: -6px;
  background: #292728;
  z-index: 3;
}



.iphonecamera {
  width: 16px;
  height: 16px;
  top: -27px;
  border-radius: 100%;
  position: relative;
  left: 140px;
  margin: 0 0 0 -8px;
  background: #292728;
  z-index: 3;
}



.iphonespeaker {
  width: 70px;
  height: 6px;
  position: relative;
  left: 50%;
  top: -39px;
  margin: 0 0 0 -35px;
  background: #292728;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  z-index: 3;
}