html {
  -ms-overflow-style: none; 
  overflow: auto;
}


.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 0 auto;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #E6E7ED;
}
.typing-indicator::after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}
.typing-indicator span {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}


div#load_screen {
  background: #fff;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
  display: table;
  display: table-cell;
  vertical-align: middle;
  display: flex;
}

div#load_screen > div#loading {
  color: #fff;
  width: 120px;
  height: 24px;
  margin: 0;
  font-famly: ahamonomonospaced;
  font-size: 15px;
}




@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
   width: 0px;/* remove scrollbar space */
   background: transparent;  /* optional: just make scrollbar invisible */
  display: none;
}


body {
  background: #e0e0e0;
  padding: 0px 0;
/*   font-family: "ahamonomonospaced", "Courier New";
  font-size: 14px;
  @include font-smoothing;
  text-transform: uppercase;
  letter-spacing: 2px; */
  height: 720px;
}







       /* WIND PAPER */

.wind-paper {
  position: absolute;
  top: 0;
/*   WAS 45.25px, 35.25px */
  left: 35.25px;
  z-index: 2;
}



.wind-paper div {
  height: 19.25px;
  width: 37.5px;
  transform-origin: 100% 0;
  transform-style: preserve-3d;
  position: absolute;
  top: calc(100% - 1px);
  background: #E8E8E8;
  transform: rotateX(-5deg);
  animation: flip 3s ease-in-out infinite;
}



.wind-paper:after {
  content: "";
  transform: translateZ(-1000px);
  display: block;
  background: rgba(72, 128, 158, 0.8);
  position: absolute;
  top: 0;
  z-index: -1;
  animation: flip-shadow 3s ease-in-out infinite;
}



@keyframes flip {
  0% {
    transform: rotateX(-5deg);
  }
  50% {
    transform: rotateX(-8deg) rotateY(-2deg);
  }
  100% {
    transform: rotateX(-5deg);
  }
}



@keyframes flip-shadow {
  0% {
    width: 27.5px;
    left: 5px;
    box-shadow: 0px 0px 10px 5px rgba(72, 128, 158, 0.8);
    opacity: 1;
    height: 152px;
  }
  
  
  
  50% {
    width: 7.5px;
    left: 15px;
    box-shadow: 0px 0px 10px 15px rgba(72, 128, 158, 0.8);
    opacity: 0.3;
    height: 115px;
  }
  
  
  
  100% {
    width: 27.5px;
    left: 5px;
    box-shadow: 0px 0px 10px 5px rgba(72, 128, 158, 0.8);
    opacity: 1;
    height: 152px;
  }
}




       /* NEON SIGN */

.neonbody {
  font-family: 'sans-serif', Arial;
  text-align: center;
  /* WAS #141414*/
  background-color: inherit;
  /* WAS #262626 & #141414*/
  /* background-image: -webkit-linear-gradient(#FFF 0%, #FFF 90%);*/
  /* background-image: linear-gradient(to   , #141414 90%);*/
  background-size: 100% 150%;
  background-repeat: no-repeat;
}

.sign-wrap {
    display: inline-block;
    margin-top: -4px;
    padding: 11px;
    border-radius: 28px;
    background-color: #888;
    box-shadow: 0px 25px 22.5px -7.5px rgba(0, 0, 0, 0.2), 0px 10px 5px -2.5px rgba(0, 0, 0, 0.2), 0px 2.5px 10px 0px rgba(0, 0, 0, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.3) inset;
    border: 4px solid #f5f8fa;
    border-top: 4px solid #f5f8fa;
    border-bottom: 4px solid #f5f8fa;
}

.sign {
display: inline-block;
    padding: 6px 40px;
    border-radius: 20px;
    -webkit-filter: blur(0.40px);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.7), 0px 0px 0px 5px #bfbfc0, 0px 0px 0px 3px white inset, 0px 0px 60px #e1e8ed, 0px 0px 60px #f5f8fa inset;
}

h1.nowplaying {
    font-family: hello denver, arial;
    font-size: 2.7vw;
    line-height: 0px;
    font-weight: 800;
    letter-spacing: 2vw;
    color: #FFF;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #2b2b2b;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0px 10px 3px rgba(0, 0, 0, 0.2);
}
h1.nowplaying:before {
    content: "Now playing";
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(43, 44, 45, 0.1);
    text-shadow: 0px 0px 60px #e1e8ed;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #b5b7b9;
    -webkit-animation: flicker 20s linear infinite;
    -moz-animation: flicker 20s linear infinite;
    animation: flicker 20s linear infinite;
}
h1.nowplaying:after {
    content: "Now Playing";
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
    -webkit-animation: flicker 20s linear infinite;
    -moz-animation: flicker 20s linear infinite;
    animation: flicker 20s linear infinite;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: .4;
  }
  11.25% {
    opacity: .6;
  }
  11.5% {
    opacity: .4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: .9;
  }
  22% {
    opacity: 1;
  }
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: .8;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: .2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: .4;
  }
  11.25% {
    opacity: .6;
  }
  11.5% {
    opacity: .4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: .9;
  }
  22% {
    opacity: 1;
  }
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: .8;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: .2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  11% {
    opacity: .4;
  }
  11.25% {
    opacity: .6;
  }
  11.5% {
    opacity: .4;
  }
  18% {
    opacity: 1;
  }
  18.5% {
    opacity: .9;
  }
  22% {
    opacity: 1;
  }
  38.5% {
    opacity: 1;
  }
  39% {
    opacity: .8;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.5% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: .2;
  }
  63.25% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



        /* EMAIL */

.email {
  position: absolute;
  display: block;
  top: 38px;
/*   WAS 15.25px */
  right: 35.25px;
}


.email img {
  width: 40px;
  height: 40px;
}



      





        /* GAMEBOY */
.bodygameboy {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
/*   width: 100%; */
/*   height: 100%; */
}

.gameboy {
  position: relative;
  width: 350px;
  height: 570px;
  border-radius: 20px;
  padding: 20px;
/*   WAS #4f50db */
  background-color: white;
  box-shadow: 0px -5px 0px #b5b7b9, 0px 5px 0px #b5b7b9;
  font-family: sans-serif;
  -webkit-user-select: none;
  cursor: default;
  /*
  &::before {
    content:'';
    display:block;
    position:absolute;
    top:calc(100% - 200px);
    left:20%;
    width:60%;
    height:150px;
    border-radius:20px;
    background-color:#4f50db;
    box-shadow:0px 50px 200px #aaa;
    z-index:1;
  }*/
}
.gameboy::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - 34px);
  left: 5px;
  width: calc(100% - 10px);
  height: 50px;
  border-radius: 50%;
/*   WAS #4f50db */
  background-color: white;
  box-shadow: 0px 5px 0px #b5b7b9;
      border-bottom: 2px solid #ccc;
}
.gameboy .screen-area {
  position: relative;
  padding: 35px 50px 5px 50px;
  border-radius: 15px 15px 15px 15px;
  background-color: #23252d;
  color: #67879a;
  box-shadow: 0px 2px 0px black, 0px -2px 0px black, -2px 0px 0px black, 2px 0px 0px black;
}
.gameboy .screen-area::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - 20px);
  left: 5px;
  width: calc(100% - 10px);
  height: 30px;
  border-radius: 50%;
  background-color: #23252d;
  box-shadow: 0px 2px 0px black;
}
.gameboy .screen-area .power {
  position: absolute;
  display: block;
  width: 50px;
  left: 0px;
  top: 80px;
  font-size: 10px;
  letter-spacing: -0.5px;
  text-align: center;
}
.gameboy .screen-area .power .indicator {
  line-height: 14px;
}
.gameboy .screen-area .power .indicator .led {
  position: relative;
  display: inline-block;
  background-color: #ca1a21;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ff552e;
  z-index: 5;
  

  background: white;
  box-shadow: 0 0 3px white;
}
.gameboy .screen-area .power .indicator .arc {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: -2px;
}
.gameboy .screen-area .power .indicator .arc::before {
  position: absolute;
  left: 3px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #67879a;
}
.gameboy .screen-area .power .indicator .arc::after {
  position: absolute;
  left: 0px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #23252d;
}
.gameboy .screen-area .display {
  background-color: #929d97;
  height: 190px;
  width: 210px;
  border-radius: 3px;
  margin-bottom: 15px;
  top: 35px;
  overflow: scroll;
  cursor: pointer;
}
.gameboy .screen-area .label {
  position: relative;
  text-align: center;
  font-size: 20px;
  z-index: 5;
}
.gameboy .screen-area .label .title {
  display: inline;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -1.4px;
}
.gameboy .screen-area .label .subtitle {
  display: inline;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -1px;
}
.gameboy .screen-area .label .subtitle .c, .gameboy .screen-area .label .subtitle .o1, .gameboy .screen-area .label .subtitle .l, .gameboy .screen-area .label .subtitle .o2, .gameboy .screen-area .label .subtitle .r {
  display: inline-block;
}
.gameboy .screen-area .label .subtitle .c {
  color: #aa2058;
}
.gameboy .screen-area .label .subtitle .o1 {
  color: #605bd9;
  font-size: 20px;
}
.gameboy .screen-area .label .subtitle .l {
  color: #78b930;
  transform: rotateZ(-10deg);
}
.gameboy .screen-area .label .subtitle .o2 {
  color: #b6b524;
  font-size: 20px;
}
.gameboy .screen-area .label .subtitle .r {
  color: #317aaf;
}
.gameboy .nintendo {
padding: 0px 5px;
    width: 100px;
    color: #b3b5b7;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #b5b7b9;
    border-radius: 11px;
    margin-top: 30px;
    text-shadow: 0px -2px 1px #e1e8ed;
    box-shadow: 0px -2px 1px #f5f8fa;
}
.gameboy .controls {
/*   was flex */
  display: flex;
  justify-content: space-between;
}
.gameboy .controls .dpad {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  z-index: 5;
}
.gameboy .controls .dpad > * {
  width: 33%;
  height: 33%;
  position: absolute;
  background-color: #565e6a;
  cursor: pointer;
}
.gameboy .controls .dpad > * i {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  font-size: 28px;
  color: #333a4a;
  text-shadow: 0px -0.5px 0px #aaa;
}
.gameboy .controls .dpad .up {
  top: calc(0% + 4px);
  left: 33%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 5px 5px 0px 0px;
}
.gameboy .controls .dpad .up:active {
  background: linear-gradient(to top, #565e6a 0%, #333 100%); 
}
.gameboy .controls .dpad .up i {
  top: -5px;
}
.gameboy .controls .dpad .right {
  top: 33%;
  left: calc(66% - 4px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px -2px 0px #888 inset;
}
.gameboy .controls .dpad .right:active {
  background: linear-gradient(to right, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .right i {
  top: -5px;
}
.gameboy .controls .dpad .down {
  top: calc(66% - 4px);
  left: 33%;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}
.gameboy .controls .dpad .down:active {
  background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .left {
  top: 33%;
  left: calc(0% + 4px);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px -2px 0px #888 inset;
}
.gameboy .controls .dpad .left i {
  top: -5px;
}
.gameboy .controls .dpad .left:active {
  background: linear-gradient(to left, #565e6a 0%, #333 100%);
}
.gameboy .controls .dpad .middle {
  top: 33%;
  left: 33%;
  z-index: -5;
}
.gameboy .controls .dpad .middle::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 20%;
  display: inline-block;
  border: 1px solid #6e737a;
  background: linear-gradient(to bottom, #6d7075 0%, #6d7075 30%, #23272f 70%, #23272f 100%);
  border-radius: 50%;
  height: 60%;
  width: 60%;
}
.gameboy .controls .dpad .up-down {
  background-color: #565e6a;
  border: 4px solid black;
  border-radius: 5px;
  width: 20px;
  height: 60px;
}
.gameboy .controls .dpad .left-right {
  background-color: #565e6a;
  border: 4px solid black;
  border-radius: 5px;
  width: 60px;
  height: 20px;
}
.gameboy .controls .a-b {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 90px;
}
.gameboy .controls .a-b .a, .gameboy .controls .a-b .b {
  position: absolute;
  display: inline-block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #2c313e;
  border-bottom: 2px solid #888;
  box-shadow: -1px 1px 5px black, 0px 0px 5px black inset;
  text-shadow: 0px -1px 1px #888;
  color: #2c313e;
  text-align: center;
  -webkit-user-select: none;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out, line-height 0.2s ease-out;
}
.gameboy .controls .a-b .a:active, .gameboy .controls .a-b .b:active {
  box-shadow: -1px 1px 1px black, 0px 0px 5px black inset;
  border-width: 0px;
  line-height: 45px;
}
.gameboy .controls .a-b .a {
  top: 15px;
  right: 10px;
}
.gameboy .controls .a-b .b {
  top: 35px;
  left: 0%;
}
.gameboy .controls .dpad .start-select {
/*   was 100% */
  width: 310px;
/*   WAS 60px */
  height: 0px;
  display: flex;
  justify-content: center;
}
.gameboy .start-select .select, .gameboy .start-select .start {
  display: inline-block;
  color: #b5b7b9;
  text-shadow: 0px -1px 0px #999;
  letter-spacing: -1px;
  width: 60px;
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
}
.gameboy .start-select .select::before, .gameboy .start-select .start::before {
      content: '';
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 10px;
    margin-bottom: 5px;
    border-radius: 40%;
    background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 30%, #62636c 70%, #62636c 100%);
    background-repeat: no-repeat;
    border: 2px solid #0b0a1c;
    box-shadow: 0px -2px 1px #ccc;
    cursor: pointer;
} 
.gameboy .start-select .select:active::before, .gameboy .start-select .start:active::before {
  background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 50%, #62636c 100%);
}
.gameboy .speaker {
  position: absolute;
  display: flex;
  width: 75px;
  height: 75px;
  right: 15px;
  bottom: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 100;
  transform: skewY(-10deg);
}
.gameboy .speaker .dot {
  width: 7px;
  height: 7px;
  margin: 1px;
  border-radius: 50%;
}
.gameboy .speaker .dot.placeholder {
  background-color: transparent;
}
.gameboy .speaker .dot.open {
  background-color: #0a0717;
  box-shadow: 0px 0px 2px transparent inset;
}
.gameboy .speaker .dot.closed {
  background: linear-gradient(to bottom, #666 0%, #666 100%);
  box-shadow: 0px 0px 2px transparent inset;
}

* {
  box-sizing: border-box;
}

/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
} */



/* .gameboy {
  margin: 0 auto;
}
 */

.gameboy select{
  background-color : #55B500;
  
}

.gameboy iframe{
 position: absolute;
 margin-top: -194px;
 /* margin-top: -3864px; */
}










/* BUTTON */
button.jpg {
  cursor: pointer;
  position: absolute;
  margin: 220px -3px 0px 1px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-family: ahamonomonospaced, 'Open Sans', sans-serif;
  color: #fff;
  text-shadow: 1px 1px #333;
  outline: 0;
  right: 0;
}
button.jpg:hover {
  background: rgba(255, 255, 255, 0.4);
}
button.jpg span {
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 8px #333;
}

button.jpg img {
  border: 3px #FFF solid;
}

/* BUTTON */
button.secondbutton {
  cursor: pointer;
  position: absolute;
  margin: 120px -3px 0px 1px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-family: ahamonomonospaced, 'Open Sans', sans-serif;
  color: #fff;
  text-shadow: 1px 1px #333;
  outline: 0;
  right: 0;
}

button.secondbutton:hover {
  background: rgba(255, 255, 255, 0.4);
}
button.secondbutton span {
  color: #FFF;
  font-size: 14px;
  text-shadow: 0 0 8px #333;
}

button.secondbutton img {
  border: 3px #FFF solid;
}


a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
















        /* IPHONE */

.bodyiphone {
  width: 100%;
  font-family: ahamonomonospaced;
/*   font-size: 0px; */
  /*height: 780px;*/
  height: 100%;
   /*margin: -100px -100px -0px -0px; 5px */
   margin: 5px;
  padding: 10px;
  perspective: 1000px;
  -webkit-perspective: 950px;
  overflow: hidden;
  box-shadow: ;
}



.iphone6 {
  width: 100%;
/*   WAS 100vh */
  /*min-height: 100vh;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateZ(-300px);
  padding-top: -250px;
  margin-top: -80px;
}



.iphonebodyFrame {
    width: 435px;
    height: 887px;
    padding: 6px;
    background: #d9dbdc;
    border-radius: 56px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}



.iphonetopBar {
  width: 434px;
  height: 14px;
  background: #bfbfc0;
  position: relative;
  margin: auto;
  top: 100px;
  left: 50%;
  margin: -28px 0 0 -217px;
  z-index: 2;
}



.iphonebottomBar {
  width: 434px;
  height: 14px;
  background: #bfbfc0;
  position: relative;
  margin: auto;
  top: 810px;
  left: 50%;
  margin-left: -217px;
  z-index: 2;
}



.iphoneBodyFunctions {
  width: 423px;
  height: 877px;
  background: white;
  border-radius: 50px;
  position: relative;
  z-index: 3;

  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
}



.iphonesleepBtn {
    width: 4px;
    height: 66px;
    background: #fff;
    position: relative;
    top: 190px;
    right: -428px;
    border-radius: 0 2px 2px 0;
}



.iphonevolumeBtn {
  left: -10px;
  top: 90px;
  z-index: 0;
  height: 66px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: #fff;
  position: relative;
}



.iphonevolumeBtn:before {
  left: 2px;
  top: -78px;
  height: 40px;
  width: 2px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block;
  position: relative;
}



.iphonevolumeBtn:after {
  left: 0px;
  top: 82px;
  height: 66px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block;
  position: relative;
}



.iphonescreen {
  width: 378px;
/*   WAS 650 */
  height: 660px;
  top: -60px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  
/*   overflow: scroll; */
/*   background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/images%3Aacolorblue/Screen%20copy.png");
  background-size: cover;
  background-postiion: top center; */
}
























.iphone-screen {
  width: 374.5px;
/*   WAS 650 */
  height: 656.5px;
/*   top: -60px; */
  position: relative;
/*   border: 3px solid black; */
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  
}
.iphone-screen img {
  width: 100%;
}

.buttons .on-off, .buttons .up, .buttons .down, .buttons .sleep {
  display: block;
  background: #fff;
  position: absolute;
  border-radius: 2px 0px 0px 2px;
}
.buttons .on-off {
  height: 40px;
  width: 3px;
  top: 100px;
  left: -8px;
}
.buttons .up, .buttons .down, .buttons .sleep {
  height: 60px;
  width: 5px;
  left: -10px;
}
.buttons .up {
  top: 170px;
}
.buttons .down {
  top: 250px;
}
.buttons .sleep {
  left: auto;
  right: -10px;
  top: 170px;
  border-radius: 0px 2px 2px 0px;
}

.iphone-bottom {
  padding: 10px 0 0;
}
.iphone-bottom span {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
  background: #ccc;
  border-radius: 50%;
  background: -webkit-linear-gradient(315deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  
  bottom: 18px;
  right: 170px;
  position: absolute;
}
.iphone-bottom span:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}



















/* PAGE SWITCHING */
.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.page-container {
  overflow: scroll;
/*   position: absolute; */
/*   bottom: 110px; */
/*   top: 87px; */
/*   left: 29px; */
/*   right: 23px; */
}

.page-nav {
/*   position: relative; */
  position: relative;
  z-index: 2;
  float: ;
}

.page-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-nav-list > li {
  background: inherit;
  cursor: pointer;
/*   font-size: 13px; */
  position: relative;
  
  color: #1d77c0;
/*   padding-left: 5px; */
  padding-right: 5px;
  /*   height: 40px; */
  height: 26px;
  display: inline-block;
}

.page-nav-list > li.active {
  border-bottom: 3px solid #007aff;
}
.page-nav-list > li span {
  z-index: 1;
  position: relative;
}


.blue-splash {
  background: #007aff;
  box-shadow: 0 0 .6px .6px #007aff;
  border-radius: 50%;
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}

.page-content-container {
  border-radius: 0 0 3px 3px;
  overflow: scroll;
  position: relative;
  height: 425px;
  z-index: 1;
}

.page-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.page-content.active {
  z-index: 2;
}
.page-content.transition-to {
  z-index: 3;
}

#page-content-1 {
  background: #fff;
}

#page-content-2 {
  background: #fff;
}























/*
receiver: #e5e4ea;
sender: #44B5FB;
headers: #F7F7F7;
other text: #B4B4B4;
break: #E8E8E8;
*/

.border{
/*  position:absolute;
  top:12.3%;right:7%;left:7%;bottom:12%;
  overflow:hidden; */
}


.imessage {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin: 0;
  left: 0;
  padding-top: 85px;
  background-color: inherit;
  height: 100%;
  overflow-x: hidden;
   -webkit-transform: scale(1.4);
           transform: scale(1.469); 
          transform: scale(1.44);
}



a {
  /*    color: rgb(58, 64, 70);*/
  text-decoration: none;
}

.screen {
  width: 258px;
/*   height: 461.02px; */
  height: 467px;
  display: block;
  margin: 0 auto;
  /*   margin-top: 20px; */
  /*   margin-bottom: 20px; */
/*   border: 1px solid grey; */
  background-color: white;
  font-family: inherit;
  z-index: 1;
  padding: ;
}

.chat * {
  transition: all .5s;
}

form.chat * {
  transition: all .5s;
}

.status-bar {
  width: 258px;
  height: 16.33px;
}

.status-bar img {
  width: 258px;
  height: 16.33px;
}

.status-bar i {
  font-size: 10px;
}

.status-bar span.phoneservice {
  /*   font-size: 9.5px; */
  font-size: 8.6px;
}

.status-bar i.fa-wifi {
  font-size: 10px;
}

.status-bar span.time {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


/*
.status-bar .fa-circle
{
    font-size: 9px;
    vertical-align: center;
}
*/

.name-bar {
  width: 258px;
  /*   background-color: #F7F7F7; */
  background-color: #f9f9f9;
  /*   height: 42px;,29px */
  height: 26px;
  font-size: 40px;
  border-bottom: solid 1px #E8E8E8;
  z-index: 3;
}


/* FOR COMMENTS */
input#name.name {
    width: 83px;
  /*   20px */
  height: 18px;
  border-radius: 4px 4px 4px 4px;
  /*   15px, 10px, 8px, 7px, 5px */
/*   margin-left: 6px; */
  margin-right: 6px;
  vertical-align: middle;
  font-family: inherit;
  /*   -8px */
  margin-top: -4.88px;
  font-size: 13px;
  display: inline-block;
  border: 1px solid #E8E8E8;
  -webkit-border: 1px solid #E8E8E8;
  margin-top: 1px;
}

input#name.name:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #bbb;
  padding-left: 3px;
  letter-spacing: 0.5px;
}

.name-bar .name {
  color: black;
  vertical-align: middle;
  margin-left: -4px;
  /*   margin-top: -12px;,-16px, -19px, -21px, -22px */
  margin-top: -42px;
  -webkit-margin-top: -19px;
  font-size: 13px;
  font-family: inherit;
  font-weight: 500;
  display: inline-block;
/*   width: 84px; */
  width: 83px;
  /*   height:14px; */
  height: 13px;
  vertical-align: middle;
  display: inline-block;
  border: 1px #E8E8E8;
  border-radius: 4px;
}







.name-bar .name {
/*   color: black;
  vertical-align: middle;
  margin-left: -4px; */
  /*   margin-top: -12px;,-16px, -19px, -21px, -22px */
/*   margin-top: -42px;
  -webkit-margin-top: -19px;
  font-size: 13px;
  font-family: inherit;
  font-weight: 500;
  display: inline-block;
  width: 83px;
  height: 13px;
  vertical-align: middle;
  display: inline-block;
  border: 1px #E8E8E8;
  border-radius: 4px; */
}




.name-bar .name:focus {
  outline: none;
}

.name-bar i {
  /*   margin-top: -15px;, -21px;, -33px, -38px */
  margin-top: -41px;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  color: #007aff;
}

.name-bar span {
/*   font-size: 15px; */
  font-size: 14px;
  color: #007aff;
  vertical-align: middle;
  /*   margin-top: -15px;,-20px;,-29px, -32px, -37px */
  margin-top: -40px;
  padding-left: 5px;
  display: inline-block;
  font-family: 'LiberationSans', sans-serif;
}


/* TOP BAR */

.name-bar-button {
  color: #1d77c0;
  padding-left: 5px;
  
/*   padding-right: 5px; */
  /*   height: 40px; */
  height: 26px;
/*   display: inline-block; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.name-bar-button .firstbutton:hover {
  opacity: 0.3;
  cursor: pointer;
}

.name-bar-button .secondbutton:hover {
  opacity: 0.3;
  cursor: pointer;
}


/* BOTTOM BAR */

.input-bar input[type='submit'] {
  color: #007aff;
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  display: inline-block;
  padding: 0;
  height: auto;
  margin-bottom: 8px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  /*   16px */
  font: 400 13px 'Open Sans', sans-serif;
  border: 0;
  outline: 0;
}

.input-bar input[type='submit']:hover {
  opacity: 0.3;
  cursor: pointer;
}


/* .input-bar input[type='submit']{
  width:23%;
  background:transparent;
  text-align:right;
  float:right;
  cursor: pointer;
  font-weight: 100px;
  
  font: 400 13px 'Open Sans', sans-serif;
  border:0;
  outline:0;
} */


/* .input-bar input[type='submit']:hover{
  opacity: 0.3;
  cursor: pointer;
}
 */

.content-blurred {
  margin-top: 44px;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-filter: blur(10px);
  filter: url(#blur-effect);
  opacity: .35;
  z-index: 1;
}

.timeline {
  /*   height: 361.02px, 380.57px;, 378.57px, 389.97px */
  height: 426.2px;
  width: 258px;
  display: block;
  border-bottom: solid 2px #E8E8E8;
  overflow-y: scroll;
  overflow-x: hidden;
}

.iphonescreenContent {
  width: 100%;
/*   WAS 546, 526, 536 */
  height: 429.2px;
  position: relative;
  top: -44px;
  bottom: 10px;

}



.comments.message-screen {
  /*   height: 361.02px, 380.57px;, 378.57px, 389.97px */
  height: 379.97px;
  width: 258px;
  display: block;
  border-bottom: solid 2px #E8E8E8;
  overflow-y: scroll;
  overflow-x: hidden;
}








.timestamp {
  width: 100%;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #B4B4B4;
}

.timestamp span {
  display: inline-block;
  margin-top: 4px;
  font-weight: 300;
  font-size: 8.7px;
}

.delivered {
  -moz-animation: loading-bar 2s 1;
  -webkit-animation: loading-bar 2s 1;
  animation: loading-bar 2s 1;
  width: 100%;
  height: 20px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  color: #8e8e93;
  /*   margin-top: -9px; */
  margin-top: -9px;
  margin-bottom: 5px;
}

.delivered span {
  display: inline-block;
  font-weight: 500;
  font-size: 11px;
  padding-right: 10px;
  letter-spacing: .3px;
}

.delivered.old {
  display: none;
}

.sender-text,
.receiver-text {
  width: 70%;
  position: relative;
  padding: 0;
  color: white;
  border-radius: 25px;
  clear: both;
  font: 300 15px 'Open Sans', sans-serif;
  border-radius: 15px;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 7px;
  /*   5px, 15px, 13px, 8px*/
  /*   margin-bottom: 13px; */
  margin-bottom: 6px;
  float: left;
  height: auto;
}

.sender-text {
  background: #3aa8fc;
  color: white;
  float: right;
  clear: both;
  border-bottom-right-radius: 20px 0px\9;
}

.sender-text::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -8px;
  height: 14px;
  border-right: 20px solid #3aa8fc;
  border-bottom-left-radius: 18px 16px;
  border-top-right-radius: 20px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-left-radius: 15px 0px\9;
  transform: translate(-1px, -2px)\9;
}

.sender-text::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -42px;
  width: 12px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

.sender-text p.monologue {
    font-style: italic;
}

.receiver-text {
  background: #E5E5EA;
  color: black;
  float: left;
  clear: both;
  border-bottom-left-radius: 30px 0px\9;
}

.receiver-text::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 12px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-right-radius: 15px 0px\9;
  transform: translate(-1px, -2px)\9;
}

.receiver-text::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

.sender-text p,
.receiver-text p {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 100%;
  /*    width: 90%;*/
}


/* DATE */

.message-screen date {
  position: absolute;
  top: 10px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #8b8b90;
  opacity: 0;
  z-index: 4;
}

.message-screen .sender-text date {
  left: 105%;
}

.message-screen .receiver-text date {
  right: 105%;
}

.input-bar {
  width: 258px;
  height: 35px;
  background-color: #F7F7F7;
  z-index: 3;
  text-align: center;
}

.input-bar input#message {
  /*   130, 140px, 144px, 154px */
  width: 156px;
  /*   20px */
  height: 18px;
  border-radius: 4px;
  /*   15px, 10px, 8px, 7px, 5px */
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: middle;
  font-family: inherit;
  /*   -8px */
  margin-top: -7.1px;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #E8E8E8;
  -webkit-border: 1px solid #E8E8E8;
}

.input-bar input#message:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #bbb;
  padding-left: 3px;
  letter-spacing: 0.5px;
}

.input-bar i {
  color: #89909a;
  font-size: 20px;
  margin-top: 8px;
  /*    padding-left: 0px;*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.input-bar i:hover {
  opacity: 0.3;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}


/* SPINNER */

.chat span.spinner {
  -moz-animation: loading-bar 2s 1;
  -webkit-animation: loading-bar 2s 1;
  animation: loading-bar 2s 1;
  display: block;
  /*   2px */
  height: 2px;
  background-color: rgb(0, 122, 255);
  transition: width 0.2s;
  /*   WAS absolute */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4
}

.chat .singlemessage:hover .sender-text {
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

.chat .singlemessage:hover .receiver-text {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

.chat .singlemessage:hover date {
  opacity: 1;
}

.chat date {
  position: absolute;
  top: 10px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #8b8b90;
  opacity: 0;
  z-index: 4;
}

.chat .sender-text date {
  left: 105%;
}

.chat .receiver-text date {
  right: 105%;
}


/* MESSAGE HOVERCHANGE, HEIGHT OF HOVER, WAS 18px, 13px   */

.chat .singlemessage:hover .sender-text {
  transform: translateY(11px);
  -webkit-transform: translateY(11px);
}

.chat .singlemessage:hover .receiver-text {
  transform: translateY(11px);
  -webkit-transform: translateY(11px);
}

.chat .sender-text date,
.chat .receiver-text date {
  top: -20px;
  left: auto;
  right: 0;
  font-size: 12px;
}

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

























.iphonehomeBtn {
  border-radius: 100%;
  width: 68px;
  height: 68px;
  position: relative;
  left: 50%;
  margin-left: -34px;
/*   WAS 35PX */
  bottom: 40px;

  background: #303233;
  background: -moz-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #303233), color-stop(50%, #b5b7b9), color-stop(69%, #f0f2f2), color-stop(100%, #303233));
  background: -webkit-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: -o-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: -ms-linear-gradient(-45deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303233', endColorstr='#303233', GradientType=1 );
}



.iphonehomeBtnAfter {
  width: 60px;
  height: 60px;
  top: 4px;
  left: 4px;
  position: relative;
  background: white;
  border-radius: 100%;
}



.iphonesensor {
  width: 12px;
  height: 12px;
  top: -45px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  margin-left: -6px;
  background: #292728;
  z-index: 3;
}



.iphonecamera {
  width: 16px;
  height: 16px;
  top: -27px;
  border-radius: 100%;
  position: relative;
  left: 140px;
  margin: 0 0 0 -8px;
  background: #292728;
  z-index: 3;
}



.iphonespeaker {
  width: 70px;
  height: 6px;
  position: relative;
  left: 50%;
  top: -39px;
  margin: 0 0 0 -35px;
  background: #292728;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  z-index: 3;
}