/* DESIGNED BY JOHAN HOLMDAHL */

@font-face {
    font-family: '1942 Report';
    src: url('../1942 Report/1942 Report.eot');
    src: url('../1942 Report/1942 Report.eot?#iefix') format('embedded-opentype'),
    	 url('../1942 Report/1942 Report.woff2') format('woff2'),
         url('../1942 Report/1942 Report.woff') format('woff'),
         url('../1942 Report/1942 Report.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}