@font-face {
    font-family: 'Helvetica Neue';
    src: url('../Regular/Helvetica Neue.eot');
    src: url('../Regular/Helvetica Neue.eot?#iefix') format('embedded-opentype'),
    	 url('../Regular/Helvetica Neue.woff2') format('woff2'),
         url('../Regular/Helvetica Neue.woff') format('woff'),
         url('../Regular/Helvetica Neue.ttf') format('truetype'),
         url('../Regular/Helvetica Neue.svg#Helvetica Neue') format('svg');
    font-weight: normal;
    font-style: normal;
}