@font-face {
    font-family: 'San Francisco';
    src: url('../Text/San Francisco.eot');
    src: url('../Text/San Francisco.eot?#iefix') format('embedded-opentype'),
    	 url('../Text/San Francisco.woff2') format('woff2'),
         url('../Text/San Francisco.woff') format('woff'),
         url('../Text/San Francisco.ttf') format('truetype'),
         url('../Text/San Francisco.svg#San Francisco') format('svg');
    font-weight: normal;
    font-style: normal;
}