/* DESIGNED BY CARL KRULL */

@font-face {
    font-family: 'Traveling Typewriter';
    src: url('../Traveling Typewriter/Traveling Typewriter.eot');
    src: url('../Traveling Typewriter/Traveling Typewriter.eot?#iefix') format('embedded-opentype'),
    	 url('../Traveling Typewriter/Traveling Typewriter.woff2') format('woff2'),
         url('../Traveling Typewriter/Traveling Typewriter.woff') format('woff'),
         url('../Traveling Typewriter/Traveling Typewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}